.nav_dropdown:hover{
  font-weight: bold;
}

.nav_dropdown .dropdown-menu{
  background-color: #EAE8E8;
  border: none;
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}

/* .nav_dropdown_menu {
  background-color: #EAE8E8;
  border: none;
} */
  
  /* .navbar .dropdown-toggle::after {
    display: none !important;
  }

  .navbar .dropdown-menu{
    background-color: #EAE8E8;
    border: none;
  }

  .navbar .dropdown-item:hover{
    font-weight: bold;
  }

  .navbar .dropdown-item .nav-link {
    color: black !important;
  }

  .navbar .dropdown-item {
    background-color: #EAE8E8 !important;
  } */
