html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100%;
}

.main{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 20px 10%;

}

.form{
  border: 2px solid #8E8888;
  border-radius: 5px;
  padding: 15px;
  width: 300px; 
}

.form p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

form .form-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-group label{
  margin-right: 10px;
}

.form-control:read-only {
  background-color: #e9ecef;
  opacity: 1;
}

.buttons{
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
}

.buttons button{
  margin: 0 10px;
  width:64px;
  height: 34px;
  padding: 5px;
  text-align: center;
}

button svg, button img{
  margin: 1px;
  vertical-align: unset;
}

form label{
  margin-top: .5rem;
  min-width: 80px;
}

.search{
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableRelacionamento{
  max-height: 300px;
  overflow-y: auto;

}

#reserva{
  display: flex;
  flex-direction: row;
}



.historicoReservas{
  background-color: #f8f8f8;
  border-radius: 8px;
  border: 2px solid #d9d9d9;
  padding: 15px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemReserva{
  width: 100%;
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;
}



.itemReserva:focus{
  outline: none;
  background-color: #d9d9d9;
}

.itemReserva:hover{
  background-color: #d9d9d9;
  cursor: pointer;
}